---
- name: Wait for initialization on master control node
  ansible.builtin.wait_for:
    path: /root/.kube/config
    timeout: 500
    delay: 10
  delegate_to: kube-control-plane01
  run_once: true

- name: Generate the join command
  ansible.builtin.command: kubeadm token create --print-join-command
  register: join_command_output
  delegate_to: kube-control-plane01
  changed_when: join_command_output.rc == 0
  failed_when: join_command_output.rc != 0

- name: Save join command for workers
  ansible.builtin.set_fact:
    join_command: "{{ join_command_output.stdout }}"
  delegate_to: kube-control-plane01
  delegate_facts: true

- name: Join worker nodes to the cluster # TODO: check somehow if already joined
  ansible.builtin.command: "{{ hostvars['kube-control-plane01']['join_command'] }}"
  register: output
  changed_when: output.rc != 0
